* {
    margin: 0;
    padding: 0;
    border-radius: 3px;


}

.banner {
    font-size: larger;
    padding: 12px 20px 10px 20px;
    


}


.input {
    height: 30px;
}


.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    padding: 12px 20px 10px 20px;
    row-gap: 6px;
    column-gap: 6px;
}

.containertwo {
    width: fit-content;
    display: grid;
    padding: 12px 20px 10px 20px;





}

.containerthree {
    width: fit-content;
    display: grid;
    padding: 12px 20px 10px 20px;
    row-gap: 6px;
    column-gap: 6px;
    grid-template-columns: repeat(3, 1fr)
}

.containerfour {
    width: fit-content;
    display: grid;
    padding: 12px 20px 10px 20px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6px;
}

.footer {
    cursor: pointer;
    text-align: center;
    
    background-color: #0E9384;
    height: fit-content;
    width: 790px;
    margin:12px 20px ;
    

}